{% load static %}


<div class="container">
    <div>
        <br>
        <h4 style="color: #45A29E">My movies</h4>
        <br>
        <div class="scrolling-wrapper">
            {% for movie in accountInfo.movies.all %}
                <div class="line">
                    <div class="conts">
                        <button type="button" class="infoMyMovie" data-id="{% url 'infoMovie' movie.id %}">
                            <img class="banner-movie-tv" src="{{ movie.poster }}"/>
                        </button>
                        {% if accountInfo.user.email == user.email %}
                            <form method="post" action="{% url 'removeMovie' user.id movie.id 0 %}">
                                {% csrf_token %}
                                <button type="submit" class="btn close" aria-label="Close">
                                    <span aria-hidden="false">&times;</span>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {% if accountInfo.user.email == user.email %}
                {% include "dialog-search-movie.html" with tab=0 %}
                <div class="line">
                    <img data-toggle="modal" data-target="#searchModal0" src="{% static "img/Group.png" %}"
                         alt="searchBack"/>
                </div>
            {% endif %}
        </div>
    </div>
</div>
