{% load static %}

<div class="row">
    <div class="col-sm-6">
        <label for="id_picture" onclick="$('#submitBtn').removeAttr('style')">
            {% if not accountInfo.picture %}
                <img id="image-upload" src="{% static "img/img_avatar.png" %}" class="image">
            {% else %}
                <img id="image-upload" src="{{ accountInfo.picture.url }}" class="image">
            {% endif %}
        </label>
    </div>
    {% if accountInfo.user.email == user.email %}
        <div class="col-sm-6">
            <form id="update_user_form" method="POST" action="{% url 'update' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" style="display: none" name="picture" accept="image/*" id="id_picture">
                <br/>
                <input class="btn btn-success" style="display: none" id="submitBtn" type="SUBMIT" name="submit"
                       value="Update"/>
            </form>
        </div>
    {% endif %}
</div>

